*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F7F7F7;
    font-family:arial;
}

nav a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
nav a:hover{
    border-radius: 15px;
    background-color: #DC5959;
    padding:8px;
    text-decoration: underline;
}
header{
    position:fixed;
    left:0;
    z-index: 100;
    top:0;
    width:100%;
    background-color: #D32F2F;
    color:white;
    padding:25px;
    line-height: 1.8;
}
.body p{
    margin-top:30px
    }
.trang_1{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin:30px;
    border-radius: 15px;
}
#gioiThieu, #nguyenLieu, #cacBuocNau, #phanHoi{
    padding:40px;
    line-height: 1.8;
    background-color: white;
    box-shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;;
}
#cacBuocNau p{
    color:red;
    font-size:23px
}
.introduce{
    border-bottom:3px solid #D32F2F;
    color:#D32F2F;
    font-size: 30px;
}
.ingredient_1{
    border-bottom:3px solid #D32F2F;
    color:#D32F2F;
    font-size: 30px;
}
.ingredient_2{
    background-color: #FFF0F0;
    border-left:4px solid #D32F2F;
    
}
.pic1{
    width:500px;
    border-radius: 15px;
    margin-top: 150px;
    transition:all 0.3s ease;
    
}
.pic2, .pic3{
    width:350px;
    margin: 50px;
    border-radius: 15px;
    transition:all 0.3s ease;
}
.pic1:hover, .pic2:hover, .pic3:hover{
    transform: scale(1.1);

}


table{
    width:100%;
    text-align: left;
}
thead{
    background-color: #F44336;
    color:white;
}
ul{
    padding:10px;
}
#cacBuocNau{
    margin:30px;
    border-radius: 15px;
}
#phanHoi{
    margin:30px;
    border-radius: 15px;
}
#phanHoi h2{
        border-bottom:3px solid #D32F2F;
    color:#D32F2F;
    font-size: 30px;
}
form{
    background-color: #FFF8F8;
    box: shadow 2px;
    border-radius: 15px;
    padding:20px;
    line-height: 2;
}
.input{
    width:100%;
    padding:12px;
    border:2px solid #ccc;
    border-radius: 8px;
}
button {
  padding:100px;
  margin-top: 10px;
  width: 200px;
  padding: 12px;
  background-color: #B71C1C;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px; 
  transition:all 0.3s ease;
}     
button:hover {
  background-color: rgb(236, 84, 84);
  transform:scale(1.2)

}
footer{
    background-color: #333333;
    color:white;
    text-align: center;
        padding: 20px 100px;
    line-height: 2;
    width:100%
}
footer a{
    text-decoration: none;
    color:yellow;
    
}
